numpy
scipy
pandas
torch
torchaudio
torchvision
soundfile
audioread
librosa>=0.10
lazy_loader
soxr
resampy
tqdm
requests
pyyaml
packaging
safetensors
sounddevice==0.5.2
matplotlib
tensorboard
jupyterlab
ipykernel
ipywidgets
huggingface-hub
datasets
transformers

